# General
MUSIC_DIRECTORY=
STREAMRIP_CONFIG_PATH=
RADIO_STREAM_URL=
LIVE_STREAM_URL=

# Icecast
ICECAST_SOURCE_PASSWORD=
ICECAST_RELAY_PASSWORD=
ICECAST_ADMIN_PASSWORD=
ICECAST_ADMIN_USERNAME=
ICECAST_ADMIN_EMAIL=
ICECAST_LOCATION=
ICECAST_HOSTNAME=

# Liquidsoap
LIVE_SOURCE_PASSWORD=
LIQUIDSOAP_TOKEN=

# Bot
DISCORD_BOT_TOKEN=
DISCORD_TEST_GUILD=
