@import 'tailwindcss';

@theme {
	--font-sans:
		'SF Pro', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';

	--color-background: #ffffff;
	--color-foreground: #1f1f1f;

	--color-gray: #686868;
	--color-dark-gray: #3a3a3a;
	--color-light-gray: #f2f2f7;
	--color-red: #ff393c;

	/* https://linear-easing-generator.netlify.app/ */
	--ease-spring: linear(
		0,
		0.009,
		0.035 2.1%,
		0.141,
		0.281 6.7%,
		0.723 12.9%,
		0.938 16.7%,
		1.017,
		1.077,
		1.121,
		1.149 24.3%,
		1.159,
		1.163,
		1.161,
		1.154 29.9%,
		1.129 32.8%,
		1.051 39.6%,
		1.017 43.1%,
		0.991,
		0.977 51%,
		0.974 53.8%,
		0.975 57.1%,
		0.997 69.8%,
		1.003 76.9%,
		1.004 83.8%,
		1
	);
}

@layer base {
	body {
		background-color: var(--color-background);
		color: var(--color-foreground);
	}

	html {
		font-size: clamp(14px, 0.8333333333vw, 16px);
	}
}
